<!DOCTYPE html>
<html>

<head>
  <title>Poista resepti</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Reseptit</h1>
  </div>
  <div class="content">
    <div class="header">
      <h2>Poista resepti</h2>
    </div>
    <div class="item">
      <p>Oletko varma että haluat poistaa reseptin {{ recipe.title }}?</p>
      <form action="/edit/{{ recipe.id }}" method="GET">
        <button type="submit">Peruuta</button>
      </form>
      <form action="/delete/{{ recipe.id }}" method="POST">
        <button type="submit">Poista resepti</button>
      </form>
    </div>
  </div>
</html>