<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1><a href="/">Reseptit</a></h1>
  </div>
  <div class="content">
    <div class="header">
      <h2>{% block name %}{% endblock %}</h2>
    </div>
    <div class="item">
      <form action="{{ form_action }}" method="POST">
        <p>
          Reseptin nimi:
          <input type="text" name="title" value="{{ title }}" class="textbox"/>
        </p>
        <table>
          Ainesosat:
          {% for i in ingredients %}
          <tr>
            <td><input type="text" name="ingredient" value="{{ i }}" class="textbox"></td>
          </tr>
          {% endfor %}
          <tr>
            <td><button type="submit" name="action" value="ingredients_add_row">Uusi ainesosa</button></td>
          </tr>
        </table>
        <ol>
          Ohjeet:
          {% for i in instructions %}
          <li><br><textarea type="text" name="instruction" class="textbox" cols="50" rows="4">{{ i }}</textarea></li>
          {% endfor %}
          <li><button type="submit" name="action" value="instructions_add_row">Uusi ohje</button></li>
        </ol>
        <table>
          Hakusanat:
          {% for tag in tags %}
          <tr>
            <td><input type="text" name="tags" value="{{ tag }}" class="textbox" list="tag_options"></td>
          </tr>
          {% endfor %}
          <datalist id="tag_options">
            {% for tag in all_tags %}
            <option value="{{ tag }}">
            {% endfor %}
          </datalist>
          <tr>
            <td><button type="submit" name="action" value="tags_add_row">Uusi hakusana</button></td>
          </tr>
        </table>
        <br><br><br>
        <button type="submit" name="action" value="publish">Tallenna</button>
      </form>
      {% block actions %}
      {% endblock %}
    </div>
  </div>
</body>
</html>