<!DOCTYPE html>
<html>

<head>
  <title>Reseptit</title>
</head>

<body>
  <h1>Reseptit</h1>
  <form action="/create_recipe" method="post">
    <p>
      Reseptin nimi:
      <input type="text" name="title" />
    </p>
    <p>
      Ainesosat:
      (Kirjoita muodossa: "ainesosa määrä yksikkö, ". Esim. "jauho 3 dl, banaani 1 kpl")
      <textarea name="ingredients" rows="5" cols="40"></textarea>
    </p>
    <p>
      Ohjeet:
      (Kirjoita muodossa: "Ensimmäinen ohje. /Toinen ohje.")
      <textarea name="steps" rows="5" cols="40"></textarea>
    </p>
    <input type="submit" value="Julkaise" />
  </form>
  <br>
  <form action="/recipe/{{ recipe.id }}" method="GET">
    <input type="submit" value="Peruuta">
  </form>
  <br>
  <form action="/delete/{{ recipe.id }}" method="GET">
    <input type="submit" value="Poista resepti">
  </form>

</html>