{% extends "layout.html" %}

{% block title %}Reseptit{% endblock %}

{% block content %}
<div class="header">
  <form action="/search" method="GET">
      {% if query %}
      <input type="text" name="query" value="{{ query }}" class="textbox" />
      {% else %}
      <input type="text" name="query" class="textbox"/>
      {% endif %}
      <button type="submit" name="action" value="search">Hae</button>
    </form>
</div>

{% for r in results %}
<div class="item">
  <h3><a href="/recipe/{{ r.id }}">{{ r.title }}</a></h3>
  <p>
    {% for tag in r.tags %}
    <a href="{{ url_for('search', query=tag.name) }}">#{{ tag }}</a>&nbsp;
    {% endfor %}
  </p>
  {% if r.avg_rating %}
  <p>{{ r.avg_rating }} / 5 &nbsp;&nbsp;&nbsp; {{ r.rating_count }} arvostelua</p>
  {% else %}
  <p>Ei arvosteluja</p>
  {% endif %}
  <p>
    <a href="/user/{{ r.user_id }}">{{ r.username }}</a> &nbsp; {{ r.created_at | format_date }}
  </p>
</div>
{% endfor %}
{% if page_count > 1 %}
  {% if query %}
    <div class="header">
      {% if page > 1 %}
      <a href="{{ url_for('search', page=page - 1, query=query) }}"><button>Edellinen</button></a>
      {% endif %}
      Sivu {{ page }} / {{ page_count }}
      {% if page < page_count %}
      <a href="{{ url_for('search', page=page + 1, query=query) }}"><button>Seuraava</button></a>
      {% endif %}
    </div>
  {% else %}
    <div class="header">
      {% if page > 1 %}
      <a href="/{{ page - 1}}"><button>Edellinen</button></a>
      {% endif %}
      Sivu {{ page }} / {{ page_count }}
      {% if page < page_count %}
      <a href="/{{ page + 1}}"><button>Seuraava</button></a>
      {% endif %}
    </div>
  {% endif %}
{% endif %}

{% endblock %}

</body>

</html>
