<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1><a href="/">Reseptit</a></h1>
    {% if session.username %}
    <p>
      Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    <form action="/logout">
      <button type="submit">Kirjaudu ulos</button>
    </form>
    <form action="/new_recipe">
      <button type="submit">Uusi resepti</button>
    </form>
    {% else %}
    <form action="/register">
      <button type="submit">Uusi käyttäjä</button>
    </form>
    <form action="/login">
      <button type="submit">Kirjaudu sisään</button>
    </form>
    {% endif %}
    <form action="/search" method="GET">
      {% if query %}
      <input type="text" name="query" value="{{ query }}" class="textbox" />
      {% else %}
      <input type="text" name="query" class="textbox"/>
      {% endif %}
      <button type="submit" name="action" value="search">Hae</button>
    </form>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>

</html>