<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1><a href="/">Reseptit</a></h1>
  </div>
  <div class="content">
    <div class="header">
      Kirjaudu sisään
    </div>
    <div class="item">
      <form action="/login" method="POST">
        <p>
          Tunnus: <br />
          <input 
            type="text" 
            name="username" 
            value="{{ username }}" 
            class="textbox"
            size="{{ config['USERNAME_LENGTH'][1]}}"
            minlength="{{ config['USERNAME_LENGTH'][0]}}"
            maxlength="{{ config['USERNAME_LENGTH'][1]}}"
            autofocus
            required
          />
        </p>
        <p>
          Salasana: <br />
          <input 
            type="password" 
            name="password" 
            class="textbox"
            size="{{ config['USERNAME_LENGTH'][1]}}"
            minlength="{{ config['PASSWORD_LENGTH'][0]}}"
            maxlength="{{ config['PASSWORD_LENGTH'][1]}}"
            required
          />
        </p>
        {% for message in get_flashed_messages() %}
        <p class="error">{{ message }}</p>
        {% endfor %}
        <button type="submit">Kirjaudu</button>
        {% if next_page %}
        <input type="hidden" name="next_page" value="{{ next_page }}" />
        {% else %}
        <input type="hidden" name="next_page" value="/" />
        {% endif %}
      </form>
      <br>
      <form action="/register">
        Eikö sinulla vielä ole tiliä?
        <br>
        <button type="submit">Uusi käyttäjä</button>
        {% if next_page %}
        <input type="hidden" name="next_page" value="{{ next_page }}" />
        {% else %}
        <input type="hidden" name="next_page" value="/" />
        {% endif %}
      </form>
    </div>
  </div>
</body>

</html>
