<!DOCTYPE html>
<html>

<head>
  <title>Resepti</title>
</head>

<body>
  <h1>Reseptit</h1>
  <form action="/create_recipe" method="POST">
    <p>
      Reseptin nimi:
      <input type="text" name="title" value="{{ title }}" />
    </p>
    <ul>
      Ainesosat:
      {% for i in ingredients %}
      <li><input type="text" name="ingredient" value="{{ i }}"></li>
      {% endfor %}
    </ul>
    <button type="submit" name="action" value="ingredients_add_row">Uusi ainesosa</button>
    <ol>
      Ohjeet:
      {% for i in instructions %}
      <li><input type="text" name="instruction" value="{{ i }}"></li>
      {% endfor %}
    </ol>
    <button type="submit" name="action" value="instructions_add_row">Uusi ohje</button>
    <br><br>
    <button type="submit" name="action" value="publish">Julkaise</button>
  </form>
  <br>
  <form action="/" method="GET">
    <input type="submit" value="Peruuta" />
  </form>

</html>