<!DOCTYPE html>
<html>

<head>
  <title>Reseptit</title>
</head>

<body>
  <h1>Reseptit</h1>
  <a href="/">Etusivulle</a>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Uusi käyttäjä</a>
  </p>
  {% endif %}
  <hr>
  {% if session.username == recipe.username %}
  <a href="/edit/{{ recipe.id }}">Muokkaa</a>
  {% endif %}
  <h2>{{ recipe.title }}</h2>
  <br>
  <table>
    {% for i in ingredients %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.amount}}</td>
      <td>{{i.unit}}</td>
    </tr>
    {% endfor %}
  </table>
  <ol>
    {% for step in instructions %}
    <li>{{step.step}}</li>
    {% endfor %}
  </ol>
  
  <p><i>{{recipe.username}}</i></p>
  <p>{{ recipe.created_at }}</p>
</body>

</html>