{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="header">
  <h2>{{ recipe.title }}</h2>
  <p>
    {% for tag in tags %}
    <a href="{{ url_for('search', query=tag) }}">#{{ tag }}</a>&nbsp;
    {% endfor %}
  </p>
  {% if recipe.avg_rating %}
  <p>{{ recipe.avg_rating }} / 5 &nbsp;&nbsp;&nbsp; {{ recipe.rating_count }} arvostelua</p>
  {% else %}
  <p>Ei arvosteluja</p>
  {% endif %}
  <p>
    <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> &nbsp;&nbsp;&nbsp; {{ recipe.created_at | format_date }}
  </p>
</div>
{% if session.username == recipe.username %}
<div class="header">
  <form action="/edit/{{ recipe.id }}">
    <button type="submit">Muokkaa reseptiä</button>
  </form>
</div>
{% endif %}
<div class="item">
  <p class="recipe_title">{{ recipe.title }}</p>
  <br>
  <table>
    {% for i in ingredients %}
    <tr>
      <td>{{ i }}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <ol>
    {% for i in instructions %}
    <li>{{ i | show_lines }}</li>
    <br>
    {% endfor %}
  </ol>
  <p><i>{{ recipe.username }}</i></p>
</div>

<div class="header">
  <h2>Arvostelut</h2>
</div>
<div class="content">
  <div class="item">
    <h3>Anna arvostelu</h3>
    {% if session.username %}
    {% for message in get_flashed_messages() %}
    <p class="error">{{ message }}</p>
    {% endfor %}
    <form action="/create_review/{{ recipe.id }}" method="POST">
      <p>
        <label for="rating">Arvosana:</label>
        <input 
          type="number" 
          id="rating" 
          name="rating" 
          min="1" 
          max="5" 
          class="textbox"
        />
        / 5
      </p>
      <br>
      <textarea 
        name="comment" 
        id="comment" 
        class="textbox" 
        rows="7" 
        cols="70"
        minlength="{{ config['REVIEW_LENGTH'][0] }}" 
        maxlength="{{ config['REVIEW_LENGTH'][1] }}"
      ></textarea>
      <br>
      <button type="submit" value="Lähetä">Lähetä</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    {% else %}
    Arvostelun antaminen vaatii kirjautumista:
    <div class="nav">
      <form action="/login">
        <button type="submit">Kirjaudu sisään</button>
      </form>
      <form action="/register">
        <button type="submit">Uusi käyttäjä</button>
      </form>
    </div>
    {% endif %}
  </div>
  {% for r in reviews %}
  <div class="item">
    {% if r.rating %}
    <p>{{r .rating }} / 5</p>
    {% endif %}
    <p>{{ r.comment | show_lines }}</p>
    <p>
      <a href="/user/{{ r.user_id }}">{{ r.username }}</a> {{ r.created_at | format_date }}
    </p>
  </div>
  {% endfor %}
  {% if page_count > 1 %}
  <div class="header">
    {% if page > 1 %}
    <a href="{{ url_for('show_recipe', recipe_id=recipe.id, page=page - 1) }}"><button>Edellinen</button></a>
    {% endif %}
    Sivu {{ page }} / {{ page_count }}
    {% if page < page_count %}
    <a href="{{ url_for('show_recipe', recipe_id=recipe.id, page=page + 1) }}"><button>Seuraava</button></a>
    {% endif %}
  </div>
{% endif %}
</div>
{% endblock %}