<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="header">
    <h1><a href="/">Reseptit</a></h1>
  </div>
  <div class="content">
    <div class="header">
      Uusi käyttäjä
    </div>
    <div class="item">
      <form action="/create_user" method="post">
        <p>
          Käyttäjätunnus: <br />
          <input 
            type="text" 
            name="username" 
            class="textbox" 
            value="{{ username }}"
            size="{{ config['USERNAME_LENGTH'][1]}}"
            minlength="{{ config['USERNAME_LENGTH'][0]}}"
            maxlength="{{ config['USERNAME_LENGTH'][1]}}"
            required
            autofocus 
          />
        </p>
        <p>
          Salasana: <br />
          <input 
            type="password" 
            name="password1" 
            class="textbox" 
            value="{{ password1 }}" 
            size="{{ config['USERNAME_LENGTH'][1]}}"
            minlength="{{ config['PASSWORD_LENGTH'][0]}}"
            maxlength="{{ config['PASSWORD_LENGTH'][1]}}"
            required
          />
        </p>
        <p>
          Salasana uudestaan: <br />
          <input 
            type="password" 
            name="password2" 
            class="textbox" 
            value="{{ password2 }}" 
            size="{{ config['USERNAME_LENGTH'][1]}}"
            minlength="{{ config['PASSWORD_LENGTH'][0]}}"
            maxlength="{{ config['PASSWORD_LENGTH'][1]}}"
            required
          />
        </p>
        {% for message in get_flashed_messages() %}
        <p class="error">{{ message }}</p>
        {% endfor %}
        <button type="submit">Luo tunnus</button>
        {% if next_page %}
        <input type="hidden" name="next_page" value="{{ next_page }}" />
        {% else %}
        <input type="hidden" name="next_page" value="/" />
        {% endif %}
      </form>
      <br>
      <form action="/login">
        Oletko jo luonut käyttäjän?
        <br>
        <button type="submit">Kirjaudu sisään</button>
        {% if next_page %}
        <input type="hidden" name="next_page" value="{{ next_page }}" />
        {% else %}
        <input type="hidden" name="next_page" value="/" />
        {% endif %}
      </form>
      
    </div>
  </div>
</body>

</html>
