<!DOCTYPE html>
<html>

<head>
  <title>Reseptit</title>
</head>

<body>
  <h1>Reseptin haku</h1>
  <a href="/">Etusivulle</a>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/new_recipe">Luo resepti</a>
  </p>
  
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Uusi käyttäjä</a>
  </p>
  {% endif %}
  <br>
  <hr>
    <form action="/search" method="GET">
      <p>
        {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <input type="submit" value="Hae" />
    </form>
  <hr>
  {% for recipe in results %}
  <p>
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
    <br />
    {{ recipe.username }} {{ recipe.created_at }}
  </p>
  <hr />
  {% endfor %}
  
</body>

</html>