{% extends "layout.html" %}

{% block title %}{{ username }}{% endblock %}

{% block content %}
<div class="header">
    <h2>{{ username }}</h2>
    <p>{{ activity.recipe_count }} reseptiä</p>
    <p>{{ activity.review_count }} arvostelua</p>
</div>
{% for r in user_recipes %}
<div class="item">
  <h3><a href="/recipe/{{ r.id }}">{{ r.title }}</a></h3>
  <p>
    <a href="/user/{{ r.user_id }}">{{ r.username }}</a> {{ r.created_at | format_date }}
  </p>
</div>
{% endfor %}
</div>

{% if page_count > 1 %}
<div class="header">
  {% if page > 1 %}
  <a href="{{ url_for('show_user', user_id=user_id, page=page - 1) }}"><button>Edellinen</button></a>
  {% endif %}
  Sivu {{ page }} / {{ page_count }}
  {% if page < page_count %}
  <a href="{{ url_for('show_user', user_id=user_id, page=page + 1) }}"><button>Seuraava</button></a>
  {% endif %}
</div>
{% endif %}
{% endblock %}